---
title: "{{ title }}"
date: "{{ date }}"
type: "{{ kind }}"
topics: {{ topics }}
score: {{ score }}
aliases: ["{{ date }} {{ title }}"]
---

# {{ title }}

> **TL;DR:** {{ tldr }}

## Kernpunkte
- {% for k in bullets %}{{ k }}
- {% endfor %}

## Links
{% for l in links %}- [{{l.name}}]({{l.url}})
{% endfor %}
